body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 380px;
    padding: 25px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 12px;
    background: #2575fc;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.3s;
}

button:hover {
    background: #0a5ad9;
}

a {
    display: block;
    margin-top: 10px;
    color: #2575fc;
    text-decoration: none;
}